.heroBackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.4) 100%),
    url("https://lh3.googleusercontent.com/aida-public/AB6AXuCFiwDpYfBzbMSX3D-2YI7oSiuQnFD_XZO0bcncAgLui0Wnj8z4tkP_MOw92qYBGOpXrO6k16S7DCYeXRQF5_FM503V1duyrHI9vIAL_slyGoDl0HA7Sxdes6O03PxZewTroMgC2wHXU9noCuUVtnPggy1tYAGPM4_AKSU5XXxTNFvTFIYi-Yqj_w03ygEztr72C_vM9DGXO7ADpHdziRJOR5AE65qbEFvAdAUSVAk0O9dBEGn2yfl4M6lteGJd0XEgaVUCxgD48aA");
}

.featuredBackground {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCTltklF4wLD65fgsCcCvV0tOrRaeuFPcJdvVNL8lP0-Ab0YZB3Al7_Apx-v6wqGhh3wCmuiRJZXtYSzhg7w9Ib3s1oGG-KW8vtFSTtIThr6AFRp3hzH6Nc8tdFVvOCZ0x-kzSQrQF1tu0ZyHjuOWL6ekmRyA_1H4UwZHpH3lTCTODs2UyB5vBhd4iO-oCKaG6EPLbIFe7XQ_4bgBAHZhluoBV_R_7XxgFFBTiAl6XMY4J_04lAkVb-I4ym04IBq2ggfxaDB1NDGLg");
}

.latestPostBackground {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDw7AbDArXyPUXXelMvpXPZviSOAPUaBS3ALQGdZz3XgTBfT_HPHoXzzVkMpeS60lGAY3EOIB9xTM6nxmGebfwo8c5fgu7w4BexsHuMdhf06Pm9ftIbHsIVt4q0f7hJR9PUnO-w3k_mMUryivj_Ls-TFw5K0n8Y-XPEo5JUSpmLUQSW9D6uVrtOPIRkT3lNE_VRKg1rAw616jumfIJbIR7EY3YSwDfkQkn5NBudy6Sk601ybHuwN63QC1WWLEUezenwsK4CWTnJFtQ");
}

.sustainableBackground {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB0Sd3_fq1FQui4-EYU6TnYUyukKyRQGGlmzZAZAlhkmn1IdS7EZzKnLqg-Z0fCnj55sNTOF8lSJ2zNFNG6EqVg0xtx64rrf1SFneKdymKiqkUGruhmTdB57Qlsa-x2w0BMf_YhGrvtp-PUdObqpAaeswCPJSmujw0todKAdv84k-Xmof8jpeJaFFjJUsu2FnpBtEK6kDL0kWHUdTWj2bxemxyWGOVT3VEvoV-3-GV02Rk0ZZeQllgsDLLLzYHfMZF5OJvlsvpb3n8");
}

.monetaryBackground {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAg9tPP9waI0DU62elru9Creiw-UU62mID809-hK6RLDuDf3RomHmiR3wex8l4I1EWHKHMot4ykeKqXJukyi18IkbugfzPyfmlCG8U6VDw3WClrq9vzlEXpu7jKEKitg05XQkefec2nNCrCIDKFKEpwd0PUcKp4VWmqB3PyrnWWKvKx6RXm8xnTrveY_fpgEWyAuKRJ3Qhj_QI-DjkXFNx88mOh3glil09O4rHBd9YKm--Za0lRM39yXuvrqsGtnUvRhhYV5rqMVpE");
}

.psychologyBackground {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC0IQerGyQE8SBfOx81xPk4DTxvyFe1CewN--L39Jm5An0sJEZ7YjPozn6UBptfTACfItnYpl-hd2GBymjFpl6KRAmTOeuE85Q3WgiXyO8LPD1gaO_OmuFYwuCAc1afw5aax49gNCTr2obSmiFN98Mu9TU6nC5fhjrxU3gyNq-GChxh-SxGDMedQQyV7TcPB1SFIbBegMBkvsi6IAxrN_L2hdPztXOZ6rgbSP762NNorIemkber-THqmbBvLTLCZ90KADUNsTetF0s");
}